body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #74C69D;
    width: 1440px;
    margin-left: calc(50% - 720px);
    margin: 0;
    line-height: 125%;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 35px;
    padding-bottom: 83px;

}

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    width: 187px;
    height: 50px;
    flex-direction: row;
    gap: 18px;
}

.main-nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    padding: 0;
    width: 391px;
    height: 25px;
    font-size: 20px;

}
.main-nav> .link {
    color: white;
    text-decoration: none;
}
 .left-column{
    margin-top: 125px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    
    
}
 .left-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 416px;
    

 }
 h4{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    
}
h2{
    font-size: 40px;
    line-height: 125%;
    color: white;
}
p{
   color: rgba(255, 255, 255, 0.75);
}
.btn{
    background-color: white;
    border-radius: 5px;
    width: 170px;
    height: 48px;
    font-size: 20px;
    border: none;
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    color: black;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
    width: 411px;
}
.partner {
    font-size: 16px;
    color: #74C69D;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 125%;
}
h1{
    margin-top: 16px;
    font-size: 40px;
    line-height: 125%;
}
h5{
    font-size: 20px;
    margin-top: 16px;
    line-height: 125%;
    font-weight: 400;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 68px;
}
.main-btn{
    background-color: #212529;
    color: white;
    border-radius: 5px;
    width: 170px;
    height: 48px;
    font-size: 20px;
    border: none;
    margin-top: 70px;

}